header {
    font-size: large;
    display: grid;

    align-items: center;
    justify-content: center;
    background-color: #FCFCFC;

    background-image: url(../imagen/fondoLupulos3.jpg);
    background-size: cover;

}

.fontNav {
    text-decoration: none;
}

.bordeHeader {
    margin: 10px 0 10px 0;
    overflow: hidden;
}