
@media (min-width:660px) {

    ul {
        display: flex;
        flex-direction: row;


    }

    nav ul li {

        margin-left: 25px;
    }

    .logo {
        width: 50%;
        height: 50%;
    }

    .logoPie {
        width: 200px;
        height: 200px;
        margin-right: 10px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .redes {
        margin-top: 10px;
    }

    .footerSuperior {
        display: grid;
        grid-template-areas:
            "datos logoPie"
            " redes  redes"
            " contacto contacto"
            "legales legales";
        gap: 10px;
        justify-items: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }

    .datos {

        text-align: left;
        width: fit-content;

    }

    .seccionNosotros {
        display: grid;
        grid-template-areas:
            "textoNosotros1 textoNosotros1"
            "fotoNosotros1 fotoNosotros2";
        gap: 20px;
    }

    .textoNosotros1 {
        grid-area: textoNosotros1;
    }

    .fotoNosotros1 {
        grid-area: fotoNosotros1;
    }

    .fotoNosotros2 {
        grid-area: fotoNosotros2;
    }

    .seccionNosotros2 {
        display: grid;
        
        grid-template-areas:
            "textoNosotros2"
            "fotoBloque";
        justify-items: center;
        align-items: center;
        align-content: center;

    }

    .textoNosotros2 {
        grid-area: textoNosotros2;
    }

    .fotoBloque {
        grid-area: fotoBloque;
  

    }


    .textoEllas {
        grid-area: textoEllas;
    }

    .ellas1 {
        grid-area: ellas1;
    }

    .ellas2 {
        grid-area: ellas2;
    }

    .ellas3 {
        grid-area: ellas3;
    }


    .deLitro {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 25px;
    }

    .canelaPumpkin {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: end;

    }

    .proximosPasos{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
    }

    .canela {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 20px;
    }

    .escalado {
        margin: 30px;
        text-align: center;
    }

    .textoSust {
        margin: 25px;
    }


    .links {
        line-height: 100px;
        font-size: large;
    }

    nav ul li {
        font-size: 28px;
        transition: font size, 5s;
    }

    nav ul li:hover {
        font-size: 30px;
        border: black solid 2px;
        border-radius: 10px;

    }

    .fotosEllas {
        justify-content: center;
        justify-items: center;
    }


}