@media (min-width:1000px) {

    .prueba {
        display: grid;
        
        grid-template-columns: 50% 50%;
        align-items: stretch;
        


    }

    .pruebaLinks{
        @extend .prueba;
        align-items: center;
        
    }





    .textoIndex {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: 20px;
        margin-right: 20px;
        justify-content: space-evenly;

    }

    .logoLink {
        height: 200px;
        width: 200px;

    }

    .linksHomebrew {
        margin-bottom: 30px;
    }

    .newsletter {
        font-size: 50px;
    }

    .deLitro {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100%;
    }

    .textoProy {
        margin-right: 20px;
        
    }

    .video {
        margin: 30px;
        padding-top: 100px;
        padding-right: 50px;
        height: 500px;

    }

    .textoSust {
        margin: 25px;
    }

    .links {
        font-size: x-large;
    }

    .carousel{
        width: 30%;
    }

    .texto{
        font-size: 30px;
        line-height: 30px;
    }

    .tituloPpal{
        font-size: 400%;
    }
    



}