@mixin mixinBotones($widht, $color , $margin, $fontColor, $fontBold){

    width: $widht;
    background-color: $color;
    margin-bottom: $margin;
    color: $fontColor;
    font-weight: $fontBold;
}

.mixinBotones{
    @include mixinBotones(100%, rgb(185, 147, 76), 20px, black, bolder);
}
    

