.nav-link {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: xx-large;
}

.list-group-item {
    font-family: 'Chivo', sans-serif;    
    text-align: center;
}

.card{
    overflow: hidden;    
    height: min-content;
    margin: 5px;
    overflow-x: visible;
    background-color: #F2BA52;    
   
}

.btn{
    
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #91BF70;
}

.carousel{
    width: 50%;
    margin: 10px;
}


.card-title{
    overflow-x: visible;
}

