.nav-link {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: xx-large;
}

.list-group-item {
    font-family: 'Chivo', sans-serif;
    border: solid 2px black;
    text-align: center;
}

.card{
    overflow: hidden;
    background-color: #F2BA52;
    height: min-content;
    margin: 5px;
    overflow-x: visible;
 
    
   
}
.btn{
    background-color: #91BF70;
    color: black;
    border: solid black 1px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.carousel{
    width: 50%;
    margin: 10px;
}


.card-title{
    overflow-x: visible;
}

