@import "variableGeneral";
@import "fuentes";
@import "header";
@import "generales";
@import "bordes";
@import "texto";
@import "diseñoSecciones";
@import "subtitulos";
@import "footer";
@import "modifBS";
@import "mixin";
@import "formulario";






.logo {

    width: 70%;
}



.imgHome {
    width: 100%;

}


.logoLink {
    width: 30%;
}

.carousel{
    width: 50%;
}















@import "media660";
@import "media1000";







