@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Metal&family=Noto+Sans:wght@300&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Metal&family=Noto+Sans:wght@300&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Metal&family=Noto+Sans:wght@300&family=Permanent+Marker&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Chivo&family=Metal&family=Noto+Sans:wght@300&family=Permanent+Marker&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bahiana&family=Bangers&family=Bebas+Neue&family=Caveat:wght@500&family=Chivo&family=Metal&family=Mouse+Memoirs&family=Noto+Sans:wght@300&family=Permanent+Marker&family=Secular+One&display=swap");
header {
  font-size: large;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #FCFCFC;
  background-image: url(../imagen/fondoLupulos3.jpg);
  background-size: cover;
}

.fontNav {
  text-decoration: none;
}

.bordeHeader {
  margin: 10px 0 10px 0;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2BA52;
}

.fontNav {
  text-decoration: none;
}

.bordesfotos, img {
  border: black solid 3px;
  border-radius: 23px;
}

.bordesSecciones {
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.texto {
  font-family: "Chivo", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 100;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
}

.mainIndex {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.parte1 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: #91BF70;
  padding: 10px;
}

.seccionHomebrewer {
  background-color: #91BF70;
  margin-bottom: 30px;
}

.presentacion {
  margin: 10px;
}

.marginFotos {
  margin-bottom: 10px;
}

.subtituloCanela {
  text-transform: uppercase;
  font-style: normal;
  border-bottom: black solid 2px;
  border-top: black solid 2px;
}

ol li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Chivo", sans-serif;
  line-height: 30px;
  align-items: center;
}

.itemTienda {
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.precio {
  font-weight: bolder;
}

.subtitulos {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 300%;
  text-align: center;
  font-style: italic;
  margin: 20px 0 20px 0;
}

footer {
  font-size: large;
  display: grid;
  justify-content: center;
  background-color: #FCFCFC;
  background-image: url(../imagen/fondoLupulos3.jpg);
  background-size: cover;
  border-top: black solid 2px;
}

.footerSuperior {
  display: grid;
  grid-template-areas: "datos" "redes" "contacto" "logoPie" "legales";
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
  width: 100%;
}

.contacto {
  grid-area: contacto;
  font-size: x-large;
  font-weight: bolder;
  color: black;
}

.datos {
  grid-area: datos;
  text-align: center;
  padding: 20px;
  width: 50%;
  overflow: hidden;
  background-color: white;
}

.redes {
  grid-area: redes;
}

a {
  text-decoration: none;
}

.logoPie {
  grid-area: logoPie;
  width: 90%;
}

.legales {
  grid-area: legales;
  background-color: black;
  color: white;
  width: 100%;
}

.newsletter {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: xx-large;
  color: black;
}

.nav-link {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: xx-large;
}

.list-group-item {
  font-family: "Chivo", sans-serif;
  border: solid 2px black;
  text-align: center;
}

.card {
  overflow: hidden;
  background-color: #F2BA52;
}

.btn {
  background-color: #91BF70;
  color: black;
  border: solid black 1px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.mixinTamaños {
  height: 4em;
  width: 2em;
}

.logo {
  width: 70%;
}

.imgHome {
  width: 100%;
}

.logoLink {
  width: 30%;
}

/* Todo esto lo saqué de un formulario ya armado */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
.col-75,
input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* fin de formulario */
@media (min-width: 660px) {
  ul {
    display: flex;
    flex-direction: row;
  }
  nav ul li {
    margin-left: 25px;
  }
  .logo {
    width: 50%;
    height: 50%;
  }
  .logoPie {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .redes {
    margin-top: 10px;
  }
  .footerSuperior {
    display: grid;
    grid-template-areas: "datos logoPie" " redes  redes" " contacto contacto" "legales legales";
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .datos {
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .seccionNosotros {
    display: grid;
    grid-template-areas: "textoNosotros1 textoNosotros1" "fotoNosotros1 fotoNosotros2";
    gap: 20px;
  }
  .textoNosotros1 {
    grid-area: textoNosotros1;
  }
  .fotoNosotros1 {
    grid-area: fotoNosotros1;
  }
  .fotoNosotros2 {
    grid-area: fotoNosotros2;
  }
  .seccionNosotros2 {
    display: grid;
    grid-template-areas: "textoNosotros2" "fotoBloque";
    justify-items: center;
  }
  .textoNosotros2 {
    grid-area: textoNosotros2;
  }
  .fotoBloque {
    grid-area: fotoBloque;
    width: 50%;
  }
  .textoEllas {
    grid-area: textoEllas;
  }
  .ellas1 {
    grid-area: ellas1;
  }
  .ellas2 {
    grid-area: ellas2;
  }
  .ellas3 {
    grid-area: ellas3;
  }
  .deLitro {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 25px;
  }
  .canelaPumpkin {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .canela {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 20px;
  }
  .escalado {
    margin: 30px;
    text-align: center;
  }
  .textoSust {
    margin: 25px;
  }
  .links {
    line-height: 100px;
    font-size: large;
  }
  nav ul li {
    font-size: 28px;
    transition: font size, 5s;
  }
  nav ul li:hover {
    font-size: 30px;
    border: black solid 2px;
    border-radius: 10px;
  }
  .fotosEllas {
    justify-content: center;
    justify-items: center;
  }
}
@media (min-width: 1000px) {
  .prueba {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .textoIndex {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 20px;
  }
  .logoLink {
    height: 200px;
    width: 200px;
  }
  .linksHomebrew {
    margin-bottom: 30px;
  }
  .newsletter {
    font-size: 50px;
  }
  .deLitro {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
  }
  .textoProy {
    margin-right: 20px;
  }
  .video {
    margin: 30px;
  }
  .textoSust {
    margin: 25px;
  }
  .links {
    font-size: x-large;
  }
}/*# sourceMappingURL=diseños.css.map */